{% extends "_inject.html" %}
{% load bootstrap4 %}

{% block content %}

<body style="background-color:black;">
<div class="container">
  <div class="jumbotron">
<h1>Write you article</h1>

<form enctype="multipart/form-data" method="POST">
  {% csrf_token %}
  {% bootstrap_form post_form %}
  <input type="submit" name="" value="share">
</form>

</div>
</div>

<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/TweenLite.min.js"></script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/EasePack.min.js"></script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo.js"></script>

{% endblock %}
